<header class="page-header">
  <h1>Mimir's Market</h1>
</header>

<div class="panel panel-primary">
  <div class="panel-heading">
    <form method='GET' action='/'>

      <!-- text search -->
      <div class="form-group">
        <label for='search'>Search: </label>
        <input id='search' class='form-control' type='text' placeholder="search" name='search[text]'>
      </div>

      <!-- Search by Category && Filter by Price -->
      <div class='row'>
        <div class="form-group col-xs-6">
          <label for='category'>Filter By Category:</label>
          <select id='category' class="form-control" name="search[category]">
            <option value='' selected></option>
            {{#each categories as |category|}}
              <option value={{category}}>{{category}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group col-xs-3">
          <label for="min price">Min price</label>
          <select class="form-control" name="search[min_price]" id='min price'>
            <option value=''></option>
          </select>
        </div>
        <div class="form-group col-xs-3">
          <label for="max price">Max price</label>
          <select class="form-control" name="search[max_price]" id='max price'>
            <option value=''></option>
          </select>
        </div>
      </div>

      <!-- Sort by  -->
      <div class="form-group">
        <label for='sort option'>Sort By:</label>
        <select class="form-control" name="search[sort]" id='sort option'>
          <option value='' selected></option>
          <option value="nameA">Name Ascending</option>
          <option value="nameD">Name Descending</option>
          <option value="priceA">Price Ascending</option>
          <option value="priceD">Price Descending</option>
          <option value="dateD">Newest First</option>
          <option value="dateA">Oldest First</option>
        </select>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-info" id='search button'>SEARCH IT</button>
        </div>
      </div>
    </form>
  </div>
  <!-- SHOW ALL PRODUCTS -->
  <div class="panel-body">
    {{#each products as |product|}}
      {{#if product.isInCart}}
      <form method='GET' action='/cart'>
        <div class="col-xs-4">
          <img src='/{{product.img}}' class='mediumImg'>
          <h3>${{product.price}}</h3>
          <h3><a href="/products/{{product.id}}">{{product.name}}</a></h3>
          <h5>{{product.description}}</h5>
          <button type='submit' class="btn btn-info" value={{product.id}} name='addItem'>Edit Cart</button>
        </div>
      </form>
      {{else}}
      <form method='POST' action='/cart'>
        <div class="col-xs-4">
          <img src='/{{product.img}}' class='mediumImg'>
          <h3>${{product.price}}</h3>
          <h3><a href="/products/{{product.id}}">{{product.name}}</a></h3>
          <h5>{{product.description}}</h5>
          <button type='submit' class="btn btn-success" value={{product.id}} name='addItem'>Add to Cart</button>
        </div>
      </form>
      {{/if}}
    {{/each}}
  </div>

</div>
